{% sw_extends '@Storefront/storefront/page/product-detail/index.html.twig' %}

    {% block page_product_detail_main %}
            
        <div class="row product-detail-main">
            {% block page_product_detail_media %}
                <div class="col-lg-7 product-detail-media">
                    {% if page.product.media or page.product.customFields.custom_youtubevideo_detailpage_link != null %}
                        {% sw_include '@Storefront/storefront/element/cms-element-image-gallery.html.twig' with {
                            'mediaItems': mediaItems,
                            'zoom': true,
                            'zoomModal': true,
                            'displayMode': 'contain',
                            'gutter': 5,
                            'minHeight': '430px',
                            'navigationArrows': 'inside',
                            'navigationDots': 'inside',
                            'galleryPosition': 'left',
                            'isProduct': true,
                            'fallbackImageTitle': page.product.translated.name,
                            'startIndexThumbnails': page.product.cover.position + 1,
                            'startIndexSlider': page.product.cover.position + 1
                        } %}
                    {% endif %}
                </div>
            {% endblock %}

            {% block page_product_detail_buy %}
                <div class="col-lg-5 product-detail-buy">
                    {% sw_include '@Storefront/storefront/page/product-detail/buy-widget.html.twig' %}
                </div>
            {% endblock %}
        </div>
    {% endblock %}